<%- include("../partials/auth/header") %> 

<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="/">
                            <img src="/assets/images/icon/logo.png" alt="CoolAdmin">
                        </a>
                    </div>
                    <h1 class="text-center"><%= pageTitle %> </h1>
                    <div class="login-form">
                        <div class="social-login-content">
                            <div class="social-button">
                                <a href="/farmer/register" class="au-btn au-btn--block au-btn--green m-b-20">
                                    <button class="au-btn au-btn--block au-btn--green m-b-20">register as farmer</button>
                                </a>
                                <a href="/vendor/register" class="au-btn au-btn--block au-btn--blue m-b-20">
                                    <button class="au-btn au-btn--block au-btn--blue m-b-20">register as vendour</button>
                                </a>
                                <a href="/user/register" class="au-btn au-btn--block au-btn--green m-b-20">
                                    <button class="au-btn au-btn--block au-btn--green m-b-20">register as consumer</button>
                                </a>
                            </div>
                        </div>
                        <div class="register-link">
                            <p>
                                Already have account?
                                <a href="/auth/login">Sign In</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include("../partials/auth/footer") %> 